mat-toolbar {
    background-color: rgb(107, 201, 236);
    display: flex;
    justify-content: space-between;

    // .left {
    //     .brand {
    //         color: white;
    //         text-decoration: none;
    //     }
    // }

    .right {
        display: flex;
        gap: 1rem;
    }
}               